@model ShoppingCart

<h1>Details</h1>

<form method="post">
    <input asp-for="SongId" hidden/>
    <div class="card m-4" style="width: 50rem;">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title col-8 mt-1">@Model.Song.Title</h5>
                @if (Model.Song.Bought == true)
                {
                    <div class="col-4 text-end m-0">
                        <span class="badge bg-success">Bought</span>
                    </div>
                }
                @if (Model.Song.InCart == true)
                {
                    <div class="col-4 text-end m-0">
                        <span class="badge bg-warning">In cart</span>
                    </div>
                }
            </div>
            <p class="card-text">
                Author: <a asp-controller="Song" asp-action="GetByUser" asp-route-userId="@Model.Song.UserId"
                           class="card-link mb-2">@Model.Song.User.Username</a>
            </p>
            <p class="card-text">@Html.Raw(Model.Song.Lyrics)</p>
            @if (Model.Song.DemoUrl != null)
            {
                <audio class="mb-2" controls>
                    <source src="@Model.Song.DemoUrl" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            }
            <p>Price: @Model.Song.Price $</p>
            @if ((Model.Song.User.Id).ToString() == Context.Session.GetString("UserId"))
            {
                <a asp-controller="Song" asp-action="Edit" asp-route-id="@Model.Song.Id"
               class="btn btn-primary btn-sm p-2" style="width: 8%">Edit</a>
                <a asp-controller="Song" asp-action="Delete" asp-route-id="@Model.Song.Id"
               class="btn btn-danger btn-sm p-2" style="width: 8%">Delete</a>
            }
            @if (Model.Song.Bought == false && Context.Session.GetString("Role") == "buyer" && Model.Song.InCart == false)
            {
                <button type="submit" class="btn btn-outline-secondary btn-sm">Add to cart</button>
            }
            else if (Context.Session.GetString("Role") == null)
            {
                <a asp-controller="Auth" asp-action="Login"
                    class="btn btn-outline-secondary btn-sm">Add to cart</a>
            }
        </div>
    </div>
</form>
