@model IEnumerable<Song>

<div class="row p-4">
    @foreach (var song in Model)
    {
        <div class="card m-2" style="width: 20rem; height: 450px">
            <div class="card-body">
                <h5 class="card-title">@song.Title</h5>
                <p class="card-text">
                    Author: <a asp-controller="Song" asp-action="GetByUser" asp-route-userId="@song.UserId"
                           class="card-link mb-2">@song.User.Username</a>
                </p>
                @if (song.Lyrics.Length < 200)
                {
                    <p class="card-text">@song.Lyrics.Substring(0, song.Lyrics.Length)...</p>
                }
                else
                {
                    <p class="card-text">@song.Lyrics.Substring(0, 200)...</p>
                }
                @if (song.DemoUrl != null)
                {
                    <audio class="mb-2" style="width: 100%; height: 8%" controls>
                        <source src="@song.DemoUrl" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                }
                <p>Price: @song.Price $</p>
                <a asp-controller="Song" asp-action="Details" asp-route-songId=@song.Id class="btn btn-primary btn-sm">See Details</a>
                @if (Context.Session.GetString("UserId") == song.UserId.ToString())
                {
                    <a asp-controller="Song" asp-action="Edit" asp-route-id="@song.Id"
                        class="btn btn-primary btn-sm p-2" style="width: 25%">Edit</a>
                    <a asp-controller="Song" asp-action="Delete" asp-route-id="@song.Id"
                        class="btn btn-danger btn-sm p-2" style="width: 25%">Delete</a>
                }
            </div>
        </div>
    }
</div>

