<partial name="_Notification" />

@model SongTrade.Models.ViewModel.SearchSongsVM

@{
    var pageNumber = Context.Request.Query["pageNumber"];
    var one = "";
    var two = "";
    var three = "";
    var four = "";
    var five = "";

    switch (pageNumber)
    {
        case "1":
            one = "active";
            break;
        case "2":
            two = "active";
            break;
        case "3":
            three = "active";
            break;
        case "4":
            four = "active";
            break;
        case "5":
            five = "active";
            break;
        default:
            break;
    }
}

<form method="post">
    <div class="row mb-4">
        <div class="col-4">
            <input asp-for="@Model.SearchString" class="form-control mt-1" placeholder="Search by Title or Author">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-sm mt-2">Search</button>
        </div>
        <div class="col-2 mt-3">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Songs per page: @Model.PageSize</a>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" asp-action="Index" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize=6 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">6</a>
                <a class="dropdown-item" asp-action="Index" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize=24 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">24</a>
                <a class="dropdown-item" asp-action="Index" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize=48 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">48</a>
            </div>
        </div>
        <div class="col-2 mt-3">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort By: @Model.Sort</a>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" asp-action="Index" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sort ="Newest" asp-route-query="@Model.SearchString">Newest</a>
                <a class="dropdown-item" asp-action="Index" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sort="Price ascending" asp-route-query="@Model.SearchString">Price Ascending</a>
                <a class="dropdown-item" asp-action="Index" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sort="Price descending" asp-route-query="@Model.SearchString">Price Descending</a>
            </div>
        </div>
    </div>


    <div class="row pb-3">
        @foreach (var song in Model.Songs)
        {
            <div class="card m-2" style="width: 20rem; height: 250px">
                <div class="card-body">
                    <h5 class="card-title">@song.Title</h5>
                    <p class="card-text">
                        Author: <a asp-controller="Song" asp-action="GetByUser" asp-route-userId="@song.UserId"
                               class="card-link mb-2">@song.User.Username</a>
                    </p>
                    <p>Price: @song.Price $</p>
                    @if (song.DemoUrl != null)
                    {
                        <audio class="mb-2" style="width: 100%; height: 18%" controls>
                            <source src="@song.DemoUrl" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    }
                    <a asp-controller="Song" asp-action="Details" asp-route-songId=@song.Id class="btn btn-primary btn-sm">See Details</a>
                </div>
            </div>
        }
    </div>

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link @one" asp-controller="Song" asp-action="Index" asp-route-pageNumber=1 asp-route-pageSize="@Model.PageSize" asp-route-pageSize=6 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">1</a>
        </li>
        <li class="page-item">
            <a class="page-link @two" asp-controller="Song" asp-action="Index" asp-route-pageNumber=2 asp-route-pageSize="@Model.PageSize" asp-route-pageSize=6 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">2</a>
        </li>
        <li class="page-item">
            <a class="page-link @three" asp-controller="Song" asp-action="Index" asp-route-pageNumber=3 asp-route-pageSize="@Model.PageSize" asp-route-pageSize=6 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">3</a>
        </li>
        <li class="page-item">
            <a class="page-link @four" asp-controller="Song" asp-action="Index" asp-route-pageNumber=4 asp-route-pageSize="@Model.PageSize" asp-route-pageSize=6 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">4</a>
        </li>
        <li class="page-item">
            <a class="page-link @five" asp-controller="Song" asp-action="Index" asp-route-pageNumber=5 asp-route-pageSize="@Model.PageSize" asp-route-pageSize=6 asp-route-sort="@Model.Sort" asp-route-query="@Model.SearchString">5</a>
        </li>
    </ul>
</form>

